{lang_register_msg}<br><br>
<form method="POST" action="{url_register}">
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
    <tr>
      <td valign="top" class="head1">
        <table width="100%" border="0" cellpadding="4" cellspacing="0">
          <tr>
            <td colspan="2" valign="top" class="head1">{lang_register}</td>
          </tr>
          <tr>
            <td class="row1"><b>{lang_user_name}</b></td>
            <td class="row1">
              <input type="text" name="user_name" size="30" value="{user_name}" class="input" />
            </td>
          </tr>
          <tr>
            <td class="row2"><b>{lang_password}</b></td>
            <td class="row2">
              <input type="password" name="user_password" size="30" class="input" />
            </td>
          </tr>
          <tr>
            <td class="row1"><b>{lang_email}</b></td>
            <td class="row1">
              <input type="text" name="user_email" size="30" class="input" value="{user_email}" />
            </td>
          </tr>
          {if captcha_registration}
          <tr>
            <td class="row1" valign="top"><b>{lang_captcha}</b></td>
            <td class="row1">
						  <a href="javascript:new_captcha_image();"><img src="{url_captcha_image}" border="0" alt="" id="captcha_image" /></a> <br>
              <input type="text" name="captcha" size="30" value="" class="captchainput" id="captcha_input" />
              <br>
              <table cellpadding="0" cellspacing="0" width="210">
                            <tr>
                                <td>{lang_captcha_desc}</td>
                            </tr>
                        </table>
						</td>
          </tr>
          {endif captcha_registration}
        </table>
      </td>
    </tr>
  </table>
  <input type="hidden" name="action" value="register" />
  <p align="center">
    <input type="submit" value="{lang_submit}" class="button" />
    <input type="reset" value="{lang_reset}" class="button" />
  </p>
</form>
