<table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tr> 
    <td class="head1"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr> 
          <td valign="top" class="head1">{lang_user_online}</td>
        </tr>
        <tr> 
          <td valign="top" class="row2">
		    {lang_user_online_detail}
		    <br />
            {user_online_list}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
