{if has_rss}
<p align="center">
  <a href="{rss_url}"><img src="{template_url}/images/rss.gif" border="0" width="15" height="15" alt="{rss_title}" /></a>
</p>
{endif has_rss}

{cp_link}
<!--
    Bitte beachten Sie, dass der folgende Copyrighthinweis
    auf JEDER Seite die von 4images ausgegeben wird sichtbar 
    sein MUSS. Schriftart, Farbe etc. dürfen an die eigene 
    Website angepasst werden, der Hinweis darf aber unter 
    KEINEN Umständen entfernt oder unsichtbar gemacht werden.
    Auch muss der Hyperlink zu http://www.4homepages.de intakt 
    bleiben. Diese Bedingung ist Bestandteil der Lizenz dieser 
    Software. Lesen Sie die Lizenz.txt Datei für weitere 
    Informationen.
	
    Please note that the following copyright notice
    MUST be displayed on each and every page output
    by 4images. You may alter the font, colour etc. but
    you CANNOT remove it, nor change it so that it be,
    to all intents and purposes, invisible. The hyperlink 
    http://www.4homepages.de must also remain intact. 
    These conditions are part of the licence this software 
    is released under. See the Licence.txt file for 
    more information.
// -->
{copyright}
</body>
</html>