{lang_lost_password_msg}
<br>&nbsp;<form method="post" action="{url_member}">
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
    <tr> 
      <td valign="top" class="head1"> 
        <table width="100%" border="0" cellpadding="4" cellspacing="0">
          <tr> 
            <td valign="top" class="head1">{lang_lost_password}</td>
          </tr>
          <tr> 
            <td class="row2">{lang_email} 
              <input type="text" name="user_email" size="30" value="{user_email}" class="input" />
              <input type="hidden" name="action" value="sendpassword" />
              <input type="submit" value="{lang_submit}" class="button" name="submit" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>