<form method="post" action="{self}" name="perpagebox">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>{lang_images_per_page}&nbsp;</td>
      <td>{setperpage_dropdown}</td>
      <td>
        <input type="submit" value="{lang_go}" class="button" />
      </td>
    </tr>
  </table>
</form>
