<form method="get" name="jumpbox" action="{url_categories}">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td valign="bottom">{category_dropdown_selfjump}</td>
      <td valign="top"> 
        <input type="submit" value="{lang_go}" class="button" />
      </td>
    </tr>
  </table>
</form>
