<table width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr> 
    <td valign="top" align="left">
	  {lang_loggedin_msg}<br /><br />
      » <a href="{url_lightbox}">{lang_lightbox}</a><br />
	  » <a href="{url_control_panel}">{lang_control_panel}</a><br />
      » <a href="{url_logout}">{lang_logout}</a><br>&nbsp;</td>
  </tr>
</table>
